# Core Trading and Data Libraries
pandas-ta
kiteconnect==4.0.0
requests
pytz
feedparser # For lightweight news sentiment

# Google Sheets Integration
gspread~=6.0.0
google-auth-oauthlib

# Web Server for API
Flask~=3.0.0